.two-column-box1,
.two-column-box4,
.two-column-box5,
.two-column-box8 {
  background-color: #ffffff;
  height: inherit;
}

.cases-header{
background-color:white;
}


p {
  text-align: justify;
}

li {
  list-style: none;
  padding: 5px;
}

ul {
  text-align: center;
  padding: 0;
}

.cases-header {
  padding: 20px;
}

.three-column-box {
  background-color: white;
  padding: 25px;
  text-align: center;
  height: inherit;
}

.img-resources {
  background-image: url(../images/resources.jpg);
  background-size: cover;
  height: 260px;
}

.img-energy {
  background-image: url(../images/saveenergy.JPG);
  background-size: cover;
  height: 260px;
}

.img-environment {
  background-image: url(../images/environment.jpg);
  background-size: cover;
  height: 260px;
}

.img-landfill {
  background-image: url(../images/landfill.jpg);
  background-size: cover;
  height: 260px;
}



@media screen and (min-width: 1024px) {
  .cases-header p {
    text-align: center;
  }

 

  .img-energy,
  .img-environment,
  .img-landfill,
  .img-resources {
    height: inherit;
  }

  .full-width{
    width: 100%;
    display: inline-block;
    height: inherit;
  }

  .three-columns{
    width: 33.33%;
    float: left;
    height: inherit;
  }
}
