

.text-block {
  padding: 20px;
}


/* Main Page Slider */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.slider {
  display: none;
}

.slider h2 {
  font-size: 3rem;
}

.slider p {
  font-size: 1.2rem;
}

.slider-background {
  background-color: rgba(6,152,214,.6);
  padding: 10px 100px;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}
.slider__nav:checked {
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196f3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color:white;
  margin-bottom: 3rem;
  max-width: 600px;
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.slider1 {
  background-color: black;
}

.image-abstract {
  background-image: url(../images/abstract.jpg);
  background-size: cover;
}

.image-abstract-one {
  background-image: url(../images/factory.jpg);
  background-size: cover;
}

.image-abstract-home {
  background-image: url(../images/meeting.jpg);
  background-size: cover;
}

.image-sea-home {
  background-image: url(../images/seahome.jpg);
  background-size: cover;
}

.img-abouthome {
  background-image: url(../images/abouthome.jpg);
  background-size: cover;
  height: 260px;
}
.img-baterry {
  background-image: url(../images/battery.jpg);
  background-size: cover;
  height: 260px;
}
.img-abstractone {
  background-image: url(../images/abstractone.jpg);
  background-size: cover;
  height: 260px;
}
.img-plastic {
  background-image: url(../images/plastic.jpg);
  background-size: cover;
  height: 260px;
}
.img-abstract {
  background-image: url(../images/abstract.jpg);
  background-size: cover;
  height: 260px;
}

@media screen and (min-width: 1024px) {
  .slider {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }

  .text-block {
    height: inherit;
  }

  .img-abouthome,
  .img-baterry,
  .img-abstractone,
  .img-plastic,
  .img-abstract {
    height: inherit;
  }
}
