@charset "UTF-8";

body {
  width: 100%;
  margin: 0px;
}

header {
  height: 122px;
  background-image: url(../images/Banner.jpg);
  background-size: cover;
  width: 100%;
}

.nav-bar {
  overflow: hidden;
}

.nav-bar a {
  display: none;
}

.nav-bar a.icon {
  float: right;
  display: block;
  margin: 10px;
  color: white;
}

.nav-bar.responsive {
  position: relative;
  background-color: #333333a8;
  height: inherit;
}

.nav-bar.responsive .icon {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.nav-bar.responsive a {
  float: none;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

footer {
  width: 100%;
  bottom: 0px;
  position: static;
  padding-top: 24px;
}

.footer-container {
  background-color: #000329;
  color: #ffffff;
  align-items: center;
  flex-direction: column;
}

.footer-content {

}

.footer-content-icons {  
  display: flex;  
  justify-content: space-between;
  padding: 120px 20px 0;
}

.footer-list {
  list-style-type: none;
}

.footer-list li {
  display: inline-block;
}

.footer-list a {
  color:#ffffff;
}

.border {
  border: 2px solid black;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1024px) {
  .section-full-width {
    width: 100%;
    display: inline-block;
  }

  .section-two-columns {
    width: 50%;
    float: left;
  }

  .section-three-columns {
    width: 33.33%;
    float: left;
  }

  .section-four-columns {
    width: 25%;
    float: left;
  }

  .nav-bar {
    background-color: transparent;
    padding-top: 20px;
  }
  .nav-bar a {
    display: inline-flex;
    color: white;
    text-decoration: none;
    float: right;
    vertical-align: middle;
    padding: 20px;
  }
  .nav-bar a.icon {
    display: none;
  }
}
