@charset "UTF-8";

.two-column-box1 {
  background-image: url(https://images.unsplash.com/photo-1457694587812-e8bf29a43845?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  background-size: cover;
}

#compliance {
  list-style: none;
  font-size: 2em;
  color: white;
  background-color: #80808054;
  padding: 20px;
  text-align: center;
}



.two-column-box2 {
  height: inherit;
  background-color: #e5e5e5;
}

.two-column-box3 {
  background-color: #e5e5e5;
}
.two-column-box4 {
  background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

.WEEE {
  list-style: none;
  font-size: 1em;
  color: white;
  background-color: #80808054;  
  padding: 20px;
}

.container-waste {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 30, 106, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}




@media screen and (min-width: 1024px) {
  .section-resized {
    height: 400px !important;
  }

  .about p {
    text-align: center;
  }

  #compliance {
    margin: 0;
  }

  .two-column-box1 {
    background-size: contain;
    height: inherit;
  }

  .two-column-box2,
  .two-column-box3,
  .two-column-box4 {
    height: inherit;
  }


}
