@charset "UTF-8";

p {
  text-align: justify;
}

h1,
h2 {
  text-align: center;
}

.two-column-box1 {
  background-image: url(https://images.unsplash.com/photo-1457694587812-e8bf29a43845?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  background-size: cover;
}

#compliance {
  list-style: none;
  font-size: 2em;
  color: white;
  background-color: #80808054;
  padding: 20px;
  text-align: center;
}

.about {
  text-align: center;
  height: inherit;
  background: black;
  color: white;
}

.about-item {
  padding: 20px;
}

#about {
  font-weight: 500;
  color: white;
  background-color: #0000007d;
}

#about:hover {
  font-weight: 500;
  color: white;
  background-color: #0000007d;
  border-color: lightgray;
}

.two-column-box2 {
  height: inherit;
  background-color: #e5e5e5;
  padding: 20px;
}

.two-column-box3 {
  background-color: #e5e5e5;
  padding: 20px;
}
.two-column-box4 {
  background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  padding: 20px;
}

.WEEE {
  list-style: none;
  font-size: 1em;
  color: white;
  background-color: #80808054;
  padding: 30px;
}

.container-waste {
  padding: 20px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 30, 106, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.three-column-box {
  background-color: white;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .about p {
    text-align: center;
  }

  #compliance {
    margin: 0;
  }

  .two-column-box1 {
    background-size: contain;
    height: inherit;
  }

  .two-column-box2,
  .two-column-box3,
  .two-column-box4 {
    height: inherit;
  }


}
