h1,
h2,
h3 {
  text-align: center;
}

p {
  text-align: justify;
}

.section-terms{
	margin: 20px;
}


@media screen and (min-width: 1024px) {
	section{
		height:inherit;
	}


	.section-terms{
		margin: 10%;
	}
}